* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(64, 175, 175);
}

.white {
    background-color: lightyellow;
    width: 11vh;
    height: 11vh;
}

.green {
    background-color: green;
    width: 11vh;
    height: 11vh;
}

.chess-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.row {
    display: flex;
}

.black-pawn {
    background-image: url("black-pawn.png");
    background-size: cover;
}

.black-rook {
    background-image: url("black-rook.png");
    background-size: cover;
}

.black-knight {
    background-image: url("black-knight.png");
    background-size: cover;
}

.black-bishop {
    background-image: url("black-bishop.png");
    background-size: cover;
}

.black-queen {
    background-image: url("black-queen.png");
    background-size: cover;
}

.black-king {
    background-image: url("black-king.png");
    background-size: cover;
}

.white-pawn {
    background-image: url("white-pawn.png");
    background-size: cover;
}

.white-rook {
    background-image: url("white-rook.png");
    background-size: cover;
}

.white-knight {
    background-image: url("white-knight.png");
    background-size: cover;
}

.white-bishop {
    background-image: url("white-bishop.png");
    background-size: cover;
}

.white-queen {
    background-image: url("white-queen.png");
    background-size: cover;
}

.white-king {
    background-image: url("white-king.png");
    background-size: cover;
}

p{
    color: red;
    text-align: center;
    font-size: small;
}